    <footer class="footer">
      <small>
      The <a href="https://simply-norihito26.c9users.io/">Simply app</a>
      by Norihito Nakata</a>
      </small>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>   
        </ul>
      </nav>
    </footer>
